{% extends 'base.html' %}
{% block content %}
    <h1>Bem vindo!</h1>
    {% for product in products %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ product.photo.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="#" class="btn btn-primary">R${{ product.price }}</a>
            </div>
    </div>
    {% endfor %}
{% endblock %}